doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='app/style.scss')
    body
        header.container
            .row.header
                .col-1
                    nav
                        .lang-menu
                            .selected-lang
                                | RU
                            ul
                                li
                                    a EN
                                li
                                    a UA
                .col-7.menu-list.d-flex.justify-content-around
                    .company Компания
                    .clients Клиентам
                    div Услуги
                    div Решения
                    div Наши работы
                    div Акции
                    div Контакты
                .col-2.e-mail.text-center office@best-energy.com.ua
                .col-2.soc-network.d-flex
                    div
                        .icon
                            img(src='img/img-header/icon-social-telegram.svg', alt='Logo')
                        .txt-s-n Telegram
                    div
                        .icon
                            img(src='img/img-header/icon-social-viber.svg', alt='Logo')
                        .txt-s-n Viber
        script(src='js/script.js')
