body {
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

header.container {
    max-width: 1440px;
    padding: 0;
    background-color: #26447A;
    font-size: 13px;
    line-height: 1.1538rem;
    text-align: right;
    color: #FFFFFF;
}

.header {
    min-height: 43px;
    align-items: center;
}

.lang-menu {
    position: relative;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 25px;
    margin: auto;
}

.selected-lang::after {
    content: '';
    display: block;
    background-image: url("/img/img-header/Vector.svg");
    width: 6px;
    height: 3px;
    align-self: center;
    padding-right: 5px;
}

.lang-menu ul {
    cursor: pointer;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    background-color: #26447A;
    border: 1px solid #26447A;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.lang-menu ul li {
    text-align: left;
    width: 15px;
    margin: auto;
    list-style: none;
}

.lang-menu:hover ul {
    display: block;

}

.company, .clients {
    cursor: pointer;
    display: flex;
}

.clients::after, .company::after {
    content: '';
    background-image: url("/img/img-header/Vector.svg");
    width: 6px;
    height: 3px;
    align-self: center;
    position: relative;
    right: -8px;
}


.soc-network {
    justify-content: space-around;
}

.icon, .txt-s-n {
    display: inline;
}

.txt-s-n {
    margin-left: 8px;
}
